<div class="container">
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
<h3>Welcome to Login Page </h3>
<br>
<form [formGroup]="form" (ngSubmit)="doLogin(form.value)">
  <div class="form-group">
    <label>Email address:</label>
    <input type="text" class="form-control" formControlName="email">
  </div>
  <span> <p class="validateion" *ngIf="form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)">Email ID is Required</p></span>
  <div class="form-group">
    <label>Password:</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
<span><p class="validateion" *ngIf="form.controls['password'].hasError('minlength')">Minimum Length of Password must be 4</p>
    <p class="validateion" *ngIf="form.controls['password'].hasError('maxlength')">Maximum Length of Password must be 10</p></span>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p style="color:red" *ngIf="notlogin">Enter Valid email id and password</p>
</div>
<div class="col-md-4">
</div>
</div>	
</div>
